name: Test Action
on:
  push:
    branches: [main]
  workflow_dispatch:
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo to use the action locally
        uses: actions/checkout@v3.5.3
        
      - name: Run my own container action
        id: my-action
        uses: ./
        with:
          who-to-greet: '@bernata'
